@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2");
    font-display: swap;
}

/* Общие стили */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button {
    display: inline-block;
    padding:  12px 32px;

    font-family: "Inter";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    outline: 4px solid rgba(252, 252, 252, 0.4);
    border: none;
    border-radius: 26px;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.block-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;

    margin: 0 auto;
    text-align: center;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;

    background-color: #FEAFC3;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.site-wrapper {
    width: 1170px;
    margin: 0 auto;
}

.main-container {
    flex-grow: 1;
}

/* Стили для header */

.navigation {
    display: flex;
}

.logo {
    display: block;
    width: 137px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px;
}

.page-navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    margin-top: 34px;
    margin-bottom: 34px;
}

.page-navigation-item {
    position: relative;
    border-radius: 26px;
}

.page-navigation-link {
    line-height: 20px;
    display: block;
    padding: 8px 16px;

    color: #2D3440;
    text-decoration: none;
    border-radius: 26px;

    cursor: pointer;
}

.page-navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid #000000;
    box-shadow: none;
}

.page-navigation-link:active, {
    background-color: #FCFCFC;
    outline: none;
    box-shadow: none;
}

.page-navigation-item:first-child:hover,
.page-navigation-link.current:hover {
    color: #2D3440;
    background-color: #FCFCFC;
    outline: none;
    filter: none;
}

.page-navigation-link.current {
    color: #FCFCFC;

    background-color: #FF4A78;
}

.submenu-wrapper {
    position: absolute;

    display: none;
    min-width: 138px;
    padding-top: 8px;
}

.page-navigation-submenu {
    background-color: #FCFCFC;
    filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
    border-radius: 4px;
}

.page-navigation-item:hover .submenu-wrapper {
    display: block;
}

.submenu-item:last-child {
    padding-bottom: 16px;
}

.submenu-link {
    position: relative;

    font-size: 14px;
    line-height: 20px;

    display: block;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 4px;

    color: #2D3440;
    text-decoration: none;
}

.submenu-link:hover {
    background-color: #FFCBD8;
}

.submenu-link:active {
    background-color: #FF7799;
}

.submenu-link.current {
    background-color: #FF4A78;;
}

.submenu-link.new {
    font-weight: 700;

    display: block;
    padding: 16px;
    padding-bottom: 12px;
}

.submenu-link.new::after {
    position: absolute;
    bottom: 0;
    left: 16px;

    content: "";
    width: 108px;
    height: 1px;

    background-color: #B9B9B9;
}

.navigation-phone {
    align-self: center;
    margin-left: auto;
    margin-top: 42px;
    margin-bottom: 42px;
    margin-right: 10px;

    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;    
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.user-navigation-item {
    margin: 8px;
}

.user-navigation-item:last-child {
    margin-right: 0;
}

.user-navigation-link {
    display: block;
    padding: 6px 16px;
    padding-left: 40px;

    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;

    border-radius: 26px;
    background-color: rgba(252, 252, 252, 0.3);
}

.user-navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.user-navigation-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid #2D3440;
    border-radius: 26px;
}

.user-navigation-link:active {
    background-color: #FCFCFC;
    outline: none;
}

.user-navigation-search {
    min-width: 32px;
    height: 32px;
    padding: 0;

    background-image: url("../images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-navigation-login {
    background-image: url("../images/login-icon.svg");
    background-repeat: no-repeat;
    background-position: 17px center;
}

.user-navigation-cart {
    background-image: url("../images/cart-navigation-icon.svg");
    background-repeat: no-repeat;
    background-position: 17px center;
}

.user-navigation-cart.active {
    background-image: url("../images/cart-active-icon.svg");
}

/* Стили для main index.html */

.slide {
    display: none;
}

.slide.active {
    display: flex;
}

.slider-left-column {
    width: 540px;
    padding-top: 131px;
    padding-left: 68px;
    box-sizing: border-box;

}

.slider-title {
    width: 470px;
    margin-top: 0;
    margin-bottom: 23px;

    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
}

.slider-description {
    display: block;
    width: 417px;
    margin-bottom: 47px;

    font-size: 18px;
    line-height: 24px;
}

.slider-button {
    color: #2D3440;
    text-decoration: none;

    background-color: #FCFCFC;
}

.slider-button:hover {
    outline: 4px solid #FCFCFC;
    background-color: rgba(252, 252, 252, 0.4);
}

.slider-button:focus {
    outline: 2px solid #2D3440;
}

/* Темный спиннер
.spinner {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 9px;
    border-left: 2px solid rgba(36, 36, 36, 0.2);
    border-bottom: 2px solid rgba(36, 36, 36, 0.2);
    border-right: 2px solid rgba(36, 36, 36, 0.2);
    border-top: 2px solid #242424;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}
 
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
 
    to {
        transform: rotate(360deg);
    }
} */

.slider-right-column {
    display: flex;
    align-items: center;
    padding-top: 23px;
}

.slider-image-wrapper {
    position: relative;

    justify-self: center;

    background-image: url("../images/slider/slider-bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.4;
}

.slider-image-wrapper.active {
    width: 354px;
    margin-right: 35px;
    text-align: center;

    background-size: auto;
    opacity: 1;
}

.slider-image-wrapper {
    margin-right: 41px;
}

.slider-image-wrapper:last-child {
    margin-right: 0;
}

.slider-image-control {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 38px;
    height: 38px;

    text-align: center;

    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 26px;
    cursor: pointer;
}

.slider-image-control.left {
    left: 0;
}

.slider-image-control.right {
    right: 0;
}

.slider-image-control:hover:not([disabled]) {
    background-color: #FCFCFC;
}

.slider-image-control:hover:not([disabled]) svg {
    fill: #2D3440;
}

.slider-image-control:active:not([disabled]) {
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #2D3440;
}

.slider-image-control[disabled] {
    opacity: 0.4;
    cursor: auto;
}

.slide-2.active > .slider-right-column > .slider-image-wrapper.active {
    background-image: url("../images/slider/slider-bg-2.png");
}


.slide-3.active > .slider-right-column > .slider-image-wrapper.active {
    background-image: url("../images/slider/slider-bg-3.png");
}

.slider-navigation {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}

.slider-control {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

.slider-control-item{
    margin-right: 8px;
}

.slider-control-button {
    min-width: 12px;
    min-height: 12px;
    
    background-color: rgba(252, 252, 252, 0.3);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.slider-control-button.current {
    background-color: #FCFCFC;
}

.slider-control-button:not(.current):hover {
    outline: 1px solid #FCFCFC;
}

.slider-control-button:active {
    outline: 1px solid #2D3440;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 300px;
    margin-left: auto;
}

.social-item {

    margin-right: 16px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-link {
    display: block;
    width: 23px;
    height: 23px;

    outline: 2px solid rgba(252, 252, 252, 0.2);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.social-link svg {
    display: block;
}

.social-vk {
    background-image: url("../images/social/vk-logo.svg");
}

.social-fb {
    background-image: url("../images/social/fb-logo.svg");
}

.social-inst {
    background-image: url("../images/social/inst-logo.svg");
}

.social-link:hover {
    background-color: #2D3440;
}

.social-link:active {
    background-color: #2D3440;
    outline: 2px solid #2D3440;
}

.social-link:focus {
    outline: 2px solid #2D3440;
}

.promotion-title {
    width: 450px;
    margin-top: 80px;
}

.block-wrapper {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 30px;
}

.promotion-list {
    margin-top: 56px;
}

.promotion-card {
    padding: 40px;

    background-color: #FF7799;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.promotion-card.raspberry {
    background-image: url("../images/card-raspberry.png");
    background-position: bottom right 15px;
}

.promotion-card.marshmallow {
    background-image: url("../images/card-marshmallow.png");
    background-position: bottom right;
}

.promotion-card-title {
    font-size: 24px;
    line-height: 30px;

    display: inline-block;
    width: 321px;
}

.promotion-card-description {
    display: inline-block;
    width: 321px;
    margin-bottom: 32px;
}

.promotion-card-button {
    color: #2D3440;
    text-decoration: none;

    background-color: #FCFCFC;
}


.promotion-card-button:hover {
    outline: 4px solid #FCFCFC;
    background-color: rgba(252, 252, 252, 0.4);
}

.promotion-card-button:focus {
    outline: 2px solid #2D3440;
}

.popular-title {
    width: 530px;
    margin-top: 80px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 91px 30px;
    margin-top: 107px;
}

.product-card {
    position: relative;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.product-image {
    position: absolute;
    left: 51px;
    top: -51px;
    display: block;
    width: 168px;
    height: 168px;
    
    border-radius: 50%;
}

.product-description {
    padding: 40px;
    padding-bottom: 20px;
    padding-top: 133px;
    text-align: center;
}

.product-title {
    font-size: 20px;
    line-height: 24px;

    margin: 0;
}

.product-text {
    color: #565C66;

    margin-top: 8px;
}

.product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
}

.product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;

    background-color: #FF2F64;
    border-radius: 50%;
}


.product-button:hover {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid #FF2F64;
}

.product-button:hover svg {
    fill: #2D3440;
}

.product-button:active {
    background-color: #FF2F64;
    outline: 2px solid #2D3440;
}

.product-button:active svg {
    fill: #FCFCFC;
}

.product-button:not([href]) {
    background-color: #B9B9B9;
    outline: none;
}

.product-button:not([href]) svg {
    fill: #565C66;
}

.about-us {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 24px;

    background-image: url("../images/about-us-bg.jpg");
    border-radius: 16px;
}

.about-us-wrapper {
    padding: 56px 40px;

    background-color: #FCFCFC;
    border-radius: 16px;
}

.about-us-list {
    display: grid;
    grid-template-columns: 506px 506px;
    gap: 40px 31px;
    margin-top: 56px;
}

.about-us-item {
    position: relative;
    padding-left: 64px;
}

.about-us-item::before {
    position: absolute;
    content: "";
    left: 0;
    width: 48px;
    height: 48px;
}

.about-us-item.ice-cream::before {
    background-image: url("../images/ice-cream-icon.svg");
}

.about-us-item.cow::before {
    background-image: url("../images/cow-icon.svg");
}

.about-us-item.leaf::before {
    background-image: url("../images/leaf-icon.svg");
}

.about-us-item.termometer::before {
    background-image: url("../images/termometer-icon.svg");
}

.blog {
    padding: 32px;

    background-color: #FCFCFC;
    background-image: url("../images/blog-bg.jpg");
    border-radius: 16px;
}

.blog-title {
    margin: 0;
    margin-bottom: 11px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}

.blog-link {
    display: block;
    width: 304px;
    margin-bottom: 30px;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #2D3440;
    text-decoration: none;
}

.blog-link:hover {
    text-decoration: underline;
}

.subscription {
    padding: 6px;

    background-color: #FCFCFC;
    background-image: url("../images/subscription-bg.jpg");
    border-radius: 16px;
}

.subscription-wrapper {
    padding: 26px;

    background-color: #FCFCFC;
    border-radius: 16px;
}

.subscription-text {
    margin-top: 0;
    margin-bottom: 40px;
    color: #565C66;
}

.field {
    width: 332px;
    box-sizing: border-box;
    margin-right: 18px;
    padding: 14px 16px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;

    background-color: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.field:hover {
    outline: 1px solid #2D3440;
}

.field:focus {
    outline: 2px solid #2D3440;
}

.field:invalid {
    outline: 1px solid #EA5454;
}

.field:invalid:hover {
    outline: 2px solid #EA5454;
}

.field[disabled] {
    background-color: #E7E7E7;
    outline: 1px solid #B9B9B9;
}

.subscription-button {
    color: #FCFCFC;
    
    background-color: #FF2F64;
    outline-color: rgba(255, 47, 100, 0.3);
    cursor: pointer;
}

.subscription-button:hover {
    color: #2D3440;

    background-color: rgba(252, 252, 252, 0.3);
    outline-color: #FF2F64;
}

.subscription-button:focus {
    outline: 2px solid #2D3440;
}

.subscription-button[disabled] {
    color: #565C66;

    background-color: #B9B9B9;
    outline-color: rgba(185, 185, 185, 0.3);
    cursor: auto;
}

.delivery {
    display: flex;
    align-items: center;
    margin-top: 78px;

    background-color: #FCFCFC;
    background-image: url("../images/delivery-bg.jpg");
    border-radius: 16px;
}

.delivery-text-wrapper {
    width: 371px;
    margin: 167px 135px 163px 100px;
}

.delivery-title {
    margin-bottom: 24px;
    text-align: left;
}

.delivery-text {
    margin-bottom: 0;
}

.delivery-form-wrapper {
    width: 500px;
    margin: 64px;
    margin-left: 0;
    padding: 40px;
    box-sizing: border-box;

    color: #565C66;

    background-color: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.delivery-form-title {
    margin-top: 0;
    margin-bottom: 32px;
    color: #565C66;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 16px;
}

.delivery-form label {
    display: flex;
    flex-direction: column;

    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
}

.delivery-form input {
    margin-top: 8px;
    box-sizing: border-box;
    padding: 14px 16px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;

    background-color: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.delivery-form input:hover {
    outline: 1px solid #2D3440;
}

.delivery-form input:focus {
    outline: 2px solid #2D3440;
}

.delivery-form input:invalid {
    outline: 1px solid #EA5454;
}

.delivery-form input:invalid:hover {
    outline: 2px solid #EA5454;
}

.delivery-form input[disabled] {
    background-color: #E7E7E7;
    outline: 1px solid #B9B9B9;
}

.delivery-form-address {
    grid-column: 1 / -1;
}

.delivery-button {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 10px;

    color: #FCFCFC;
    
    background-color: #FF2F64;
    outline-color: rgba(255, 47, 100, 0.3);
    cursor: pointer;
}

.delivery-button:hover {
    color: #2D3440;

    background-color: rgba(252, 252, 252, 0.3);
    outline-color: #FF2F64;
}

.delivery-button:focus {
    outline: 2px solid #2D3440;
}

.delivery-button[disabled] {
    color: #565C66;

    background-color: #B9B9B9;
    outline-color: rgba(185, 185, 185, 0.3);
    cursor: auto;
}

.contacts {
    margin-top: 80px;
    padding: 64px;

    background-color: #FCFCFC;
    background-image: url("../images/contacts-bg.jpg");
    border-radius: 16px;
}

.contacts-wrapper {
    width: 343px;
    padding: 40px;
    box-sizing: border-box;

    background-color: #FCFCFC;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.contacts-address h3 {
    width: 180px;
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 16px;
    font-weight: 400;

    color: #565C66;
}

.contacts-address address {
    margin-bottom: 24px;

    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
}

.contacts-phone h3 {
    margin-bottom: 12px;

    font-size: 16px;
    font-weight: 400;

    color: #565C66;
}

.contacts-phone a {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #2D3440;
    text-decoration: none;
}

.contacts-phone a:hover {
    text-decoration: underline;
}


.contacts-phone span {
    display: block;
    margin-bottom: 32px;

    font-size: 14px;
    line-height: 20px;
    color: #565C66;
}

.contacts-button {
    width: auto;

    color: #FCFCFC;
    text-decoration: none;
    
    background-color: #FF2F64;
    outline-color: rgba(255, 47, 100, 0.3);
    cursor: pointer;
}

.contacts-button:hover {
    color: #2D3440;

    background-color: rgba(252, 252, 252, 0.3);
    outline-color: #FF2F64;
}

.contacts-button:focus {
    outline: 2px solid #2D3440;
}

.contacts-button[disabled] {
    color: #565C66;

    background-color: #B9B9B9;
    outline-color: rgba(185, 185, 185, 0.3);
    cursor: auto;
}

/* Стили для main catalog.html */

.breadcrumbs {
    margin-top: 32px;
}

.breadcrumbs-list {
    display: flex;
}

.breadcrumbs-item:not(:last-child) {
    padding-right: 8px;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    vertical-align: middle;

    background-image: url("../images/breadcrumbs-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;

    color: #2D3440;
}

.inner-header {
    margin-top: 16px;
    font-weight: 900;
    line-height: 46px;
}

.catalog-form {
    display: grid;
    grid-template-columns: 196px 196px 156px 187px;
    gap: 16px 24px;
}

.fat-content {
    grid-column: 3 / -1;
}

.topping {
    grid-column: 1 / 4;
}

.catalog-form-group {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 20px;

    border: none;
}

.catalog-group-title {
    margin-bottom: 8px;
    padding-left: 16px;
}

.catalog-form-group select {
    padding: 8px 16px;
    padding-right: 63px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;

    background-color: rgba(252, 252, 252, 0.3);
    background-image: url("../images/select-icon.svg");
    background-repeat: no-repeat;
    background-position: right 13px center;
    border: none;
    border-radius: 20px;

    cursor: pointer;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.catalog-form-group select:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.catalog-form-group select:active,
.catalog-form-group select:focus {
    background-color: rgba(252, 252, 252, 0.4);
    outline: 2px solid #FCFCFC;
}

.catalog-fieldset-wrapper {
    display: flex;
    margin: 0;
    padding: 8px 16px;
    /* text-align: center; */

    background-color: rgba(252, 252, 252, 0.3);
    border: none;
    border-radius: 20px;
}

.range-input {
    width: 30px;
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;

    border: none;
    background-color: transparent;

    appearance: textfield;
    -moz-appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.range {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
}

.range-scale {
    position: relative;
    height: 2px;

    background-color: rgba(86, 92, 102, 0.3);
    /* opacity: 0.3; */
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 2px;

    background-color: rgba(86, 92, 102, 1);
}

.range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 0;
    box-sizing: border-box;

    background-color: #FCFCFC;
    border: 6px solid #2D3440;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:hover {
    background-color: #2D3440;
    border: 6px solid #FCFCFC;
}

.range-toggle:active {
    background-color: #2D3440;
    border: none;
    outline: none;
}

.range-toggle:focus {
    background-color: #2D3440;
    border: 6px solid #FCFCFC;
    outline: 2px solid #2D3440;
}

.toggle-min {
    top: -7px;
    left: -7px;
}

.toggle-max {
    top: -7px;
    right: -7px;
}

/* ДОБАВИТЬ!!!!
.catalog-form-control, 
.catalog-form-input {
    cursor: pointer;
} */

.catalog-form-control {
    position: relative;

    margin-right: 16px;
    padding-left: 24px;

    cursor: pointer;
}

.catalog-form-control:last-child {
    margin-right: 0;
}

.catalog-form-input {
    position: absolute;
    left: 0;
    bottom: 2px;

    width: 16px;
    height: 16px;
    box-sizing: border-box;
    
    background-color: transparent;
    border: 1px solid #2D3440;
    border-radius: 50%;
}

.catalog-form-input::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";

    display: none;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;

    background-color: #2D3440;
    border-radius: 50%;
}

.input-hidden[type="radio"]:checked + .catalog-form-input::after {
    display: block;
}

.catalog-form-input:hover {
    border-color: #FFFFFF;
}

.catalog-form-input:hover::after {
    background-color: #FFFFFF;
}

.catalog-form-input:focus {
    border: 2px solid #FFFFFF;
    outline: none;
}

.input-hidden:disabled + .catalog-form-input {
    opacity: 0.4;
}

.input-hidden[type="checkbox"] + .catalog-form-input {
    border-radius: 2px;
}

.input-hidden[type="checkbox"]:checked + .catalog-form-input {
    background-image: url("../images/checkbox-icon.svg");
    border: none;
}

.input-hidden[type="checkbox"]:checked + .catalog-form-input:hover {
    background-image: url("../images/checkbox-hover-icon.svg");
    border: none;
}


.input-hidden[type="checkbox"]:checked + .catalog-form-input:focus {
    outline: 2px solid #FFFFFF;
}

.filter-button {
    align-self: end;
    padding-top: 8px;
    padding-bottom: 8px;


    color: #2D3440;
    font-size: 14px;

    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid #FCFCFC;
    border-radius: 20px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #FCFCFC;
    outline-color: rgba(252, 252, 252, 0.3);
}

.filter-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    outline-color: #2D3440;
}

/* Стили для footer */

.page-footer {
    padding-top: 48px;
    padding-bottom: 57px;
    display: grid;
    grid-template-columns: repeat(3, 390px);
}

.footer-social {
    justify-content: flex-start;
    margin-right: 100px;
    padding-left: 5px;
}

.info {
    padding-left: 16px;
}

.info-list {
    display: grid;
    grid-template-columns: 126px 182px;
    gap: 8px 24px;
    padding-left: 24px;
}

.info-link {
    font-size: 14px;
    line-height: 20px;

    color: #2D3440;
    text-decoration: none;
}

.info-item:first-child .info-link {
    position: relative;
    font-weight: 700;
}

.info-item:first-child .info-link::before {
    content: "";
    position: absolute;
    left: -24px;
    bottom: 0;
    display: inline;
    width: 16px;
    height: 16px;
    background-image: url("../images/heart-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.info-link:hover {
    text-decoration: underline;
}

.copyright {
    width: 206px;
    justify-self: end;
}

.copyright-text {
    margin-top: 11px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
}

.copyright-text-link {
    color: inherit;
}